html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-image: url(../images/gotmap.jpg);
}

h2 {
    color: #0c0c0c;
    font-weight: bold;
}

.game-title {
    background-color:;
    color: #0c0c0c;
    font-family: 'Cinzel', serif;
    margin-bottom: 10px;
}

.card {
    border: 3px solid #1d8634;
}

.card-img-bottom {
    padding-left: 20px;
    padding-right: 20px;
}

.card-title {
    font-weight: bold;
    padding-top: 5px;
}

.card-text {
    font-weight: bold;
    padding-bottom: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 55px; 
    color: #ffffff;
    text-align: center;
}