html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-image: url(../images/gotmap.jpg);
}

/* h3 {
    font-weight: bold;
    text-decoration: underline;
}

button {
    margin-top: 10px;
}
*/

.game-title {
    background-color:;
    color: #0c0c0c;
    font-family: 'Cinzel', serif;
    margin-bottom: 10px;
}

/* 
.btn, .card-header, .card-body {
    background-color: #5f5d5d;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
    border: 2px solid #4d4747;
}

.btn:hover {
    background-color: #4d4747;
}

#collapseRules {
    padding-bottom: 10px;
}

.listRules {
    margin-bottom: 0;
}

.rules, .main {
    border: 2px solid #5f5d5d;
    background-color: #ffffff;
}
.rules {
    padding-top: 20px;
    margin-bottom: 10px;
} 

.main {
    padding: 20px;
    margin-bottom: 70px;
}

.card {
    font-weight: bold;
    font-size: 18px;
}

.buttons {
    padding-top: 20px;
} 
 */

.footer {
    position: fixed;
    bottom: 0;
    width: 75%;
    height: 50px;
    line-height: 55px; 
    color: #ffffff;
}